.gradient-custom-3 {
    /* fallback for old browsers */
    background: #84fab0;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
  }
  
  .gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
  } 

  body {
    background-color: #fafafa;
  }

  nav {
    background: black;
    padding: 20px;
    display: flex;
    gap: 20px;
  }

  nav a {
    color: white;
    text-decoration: none;
    transition: 0.6s;
    margin-top: 10px;
    margin-left: 35px;
  }

  nav a, nav button {
    margin-left: 40px;
  }

  nav a:hover, nav button:hover {
    color: hotpink
  }

  nav button {
    border: none;
    background: none;
    color: white;
    cursor: pointer;
    transition: 0.6s;
  }

  a.active {
    background: mediumpurple;
    padding: 5px 10px;
    border-radius: 10px;
  }


  .gradient-custom-2 {
    /* fallback for old browsers */
    background: #fbc2eb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1))
    }



    .container {
      margin: 5%;
    }

    .change-password {
      border: none;
      background-color: mediumpurple;
      color: white;
      padding: 7px 10px;
      border-radius: 10px;
      box-shadow: 2px 1px 6px gray;
    }

    .form-group {
      margin: 30px 0;
    }

    label {
      font-weight: 500;
    }

    .form-control {
      width: 400px;
      margin: auto;
    }


    .submit-password {
      border: none;
      background-color: mediumpurple;
      color: white;
      padding: 7px 10px;
      border-radius: 10px;
      box-shadow: 2px 1px 6px gray;
    }


    .edit-block {
      display: flex;
      justify-content: center;
      margin-top: 7%;
    }

    .edit-input {
      width: 250px;
      display: block;
      border-radius: 10px;
      margin-bottom: 30px;
      padding: 5px 10px;
      border: 2px solid rgb(142, 142, 142);
    }

    .edit-pwd {
      margin-right: 30%;
      border: 1px solid rgb(208, 208, 208);
      padding: 50px 30px;
      border-radius: 10px;
    }
    
    .edit-login {
      border: 1px solid rgb(208, 208, 208);
      padding: 50px 30px;
      border-radius: 10px;
    }

    .update-title {
      margin-bottom: 30px;
    }

    .update-button {
      border-radius: 10px;
      background-color: mediumpurple;
      border: none;
      color: white;
      padding: 5px 10px;
      box-shadow: 2px 1px 6px gray;

    }

    .settings-title {
      text-align: center;
      margin-top: 35px;
    }

    .post-picture {
      width: 250px;
      height: 250px;
      border-radius: 10px;
      object-fit: cover;
    }

    .post-block {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: 2%;
    }


    .pic {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      object-fit: cover;
    }

    .account-pic {
      display: flex;
      justify-content: center;
      margin-top: 4%;
    }

    .account-name {
      text-align: center;
      margin-top: 1%;
    }

    .private-pic {
      display: flex;
      justify-content: center;
    }


    .follow-btn {
      display: flex;
      justify-content: center;
      margin-top: 3%;
    }
    .follow-btn button {
      border: none;
      border-radius: 10px;
      background-color: #007bfc;
      color: white;
      padding: 7px 10px;
    }


    .public-post {
      text-align: center;
      margin-top: 3%;
    }

    .public-text {
      text-align: center;
    }


    .request-block h2 {
      text-align: center;
      margin-top: 2%;
    }


    .request-item {
      display: flex;
      margin-left: 3%;
      margin-top: 3%;
    }


    .request-item button {
      width: 55px;
      height: 55px;
      padding: 0;
      border-radius: 50%;
      margin-top: 13px;
      font-size: 25px;
      margin-left: 1%;
    }


    .request-item p {
      margin: 28px 20px 0 20px;
    }


    .posts, .posts-length {
      text-align: center;
    }

    .posts {
      margin-top: 2%;
      margin-bottom: 3%;
    }

    .upload-block {
      display: flex;
      justify-content: center;
    }

    .upload-block button {
      background-color: #007bfc;
      border: none;
      border-radius: 10px;
      color: white;
      padding: 7px 10px;
      margin-top: 1%;
      margin-bottom: 3%;
    }


    .search {
      text-align: center;
      margin: 2% 0 3% 0;
    }

    .found-user {
      text-align: center;
      margin-top: 4%;
    }

    .account-status h5 {
      text-align: center;
    }

    .account-status p {
      text-align: center;
    }

    .account-status h5 {
      margin-top: 3%;
    }

    .lock {
      display: flex;
      justify-content: center;
      margin: 2% 0 1% 0;
    }




    .post {
      position: relative;
      width: 200px;
      height: 200px;
    }

    .post-img {
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .cover {
      position: absolute;
      width: 100%;
      height: 0%;
      background-color: black;
      opacity: 0.7;
      transition: 1s;
      border-radius: 10px;
    }

    .post:hover .cover {
      height: 100%;
    }

    .like-btn {
      position: absolute;
      width: 50px;
      height: 50px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      opacity: 0;
      transition: 2s;
    }

    .post:hover .like-btn {
      opacity: 1;
      transform: rotate(30deg);
    }

    .blocked {
      text-align: center;
    }

    .block-btn {
      background-color: rgb(255, 19, 19) !important;
      color: white !important;
      margin-left: 5% !important;
    }

    .delete {
      position: absolute;
      z-index: 10;
      bottom: 0;
      border: none;
      background-color: rgb(224, 0, 0);
      color: white;
      border-radius: 5px;
    }


    .follower-pic {
      border-radius: 50%;
      width: 70px;
      height: 70px;
      object-fit: cover;
      margin-right: 1%;
    }

    .follow {
      text-align: center;
      margin: 3% 0;
    }
    .followers {
      margin-left: 5%;
    }
